@mixin button($background-colour: $light-grey-3, $text-colour: $font-color){
	@include linear-gradient(to bottom, 
		lighten($background-colour, 10%) 0%,
		lighten($background-colour, 10%) 10%,
		$background-colour
	);
	padding: $spacing-medium;
	border: 1px solid darken($background-colour, 10%);
	color: #{$text-colour}!important;
	text-decoration: none;
	cursor: pointer;
	display: inline-block;
	text-align: center;
	&:hover{
		@include linear-gradient(180deg, lighten($background-colour, 23%) 0%, lighten($background-colour, 3%));
	}
	&:active{
		@include linear-gradient($background-colour, 5%);
	}
}

@mixin flat-button($background-colour, $text-colour){
	&:hover{
		background: lighten($background-colour, 10%);
	}
	&:focus{
		outline: 1px solid lighten($background-colour, 10%);
	}
	&:active{
		background-color: darken($background-colour, 10%);
	}
	&[disabled=disabled], &:disabled{
		background-color: tint($background-colour, 40%);
		color: $light-grey-4;
		cursor: default;
	}
	background-color: $background-colour;
	color: $text-colour;
	cursor: pointer;
	display: inline-block;
	text-align: center;
	padding: $spacing-medium $spacing-large;
	text-decoration: none;
	border-style: none;
	border-radius: 0.2em;
}