//*************SHADES**************/

$white: #FFF;

// Light greys.

$light-grey-5: #ECF0F1;

$light-grey-4: #EEEEEE;

$light-grey-3: #CCC;

$light-grey-2: #DFDFDF;

$light-grey-1: #999999;

// End Light greys


// Mid greys

$mid-grey-3: #888888;

$mid-grey-2: #7A7A7A;

$mid-grey-1: #575757;

// End mid greys

// Dark greys

$dark-grey-3: #444444;

$dark-grey-2: #333333;

$dark-grey-1: #111111;

// End dark greys

$black: #000000;

//***********END SHADES************/

//************ORANGES**************/

$mid-orange-1: orangered;



//**********END ORANGES************/

//**************REDS***************/

$crimson: #E74C3C;



//************END REDS*************/

//**************BLUES**************/

// Light Blues

// End Light Blues


// Dark Blues

$dark-blue-1: #000033;

$dark-blue-2: #2C3E50;

$pastel-dark-blue: #1a2d44;

//End Dark Blues

// Mid Blues

$mid-blue-1: #2980B9;

$mid-blue-2: #3498DB;

// End Mid Blues

//************END BLUES************/

//**************GREENS*************/

$dark-green-1: darken(#C3D6AA, 10%);

//************END BLUES************/

$accent: $mid-blue-2;